# UTF-8 Everywhere for Free Pascal. Usage:
#   fpc @utf8.cfg -Fu<directory of utf8everywhere.pas> program.pas
# or append these lines to your fpc.cfg to make it so for all programs.

# string = AnsiString (otherwise in the default mode string = ShortString, 255 bytes)
-Mobjfpc
-Sh
# insert the unit first into the uses of every program: no change of the sources is needed
-FaUTF8Everywhere
